.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ccc;
  min-height: 100vh;
}

.bg-green {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20%;
  background: #1ea884;
}

.main-container {
  position: relative;
  width: 80%;
  max-width: 100%;
  height: calc(100vh - 40px);
  justify-self: center;
  background: #fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5) 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.bg-chat {
  background-color: #efeae2;
  background-image: url('/wa_bg.png');
  background-size: contain;
}

.chat-content {
  height: 90%;
  min-height: 90%;
  overflow-y: scroll;
}

.message-box {
  position: relative;
  display: flex;
  width: 100%;
  margin: 5px 0;

  &.self {
    > div {
      position: relative;
      right: 0;
      text-align: right;
      background: #d9fdd3;
      max-width: 65%;
      padding: 10px 10px 0 10px;
      border-radius: 5px;
      font-size: 0.9em;
    }

    justify-content: flex-end;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: -10px;
      width: 20px;
      height: 20px;
      background: linear-gradient(135deg, #d9fdd3 0%, #d9fdd3 50%, transparent 50%, transparent);
    }
  }

  &.friend {
    justify-content: flex-start;

    > div {
      position: relative;
      right: 0;
      text-align: left;
      background: #fff;
      max-width: 65%;
      padding: 10px 10px 0 10px;
      border-radius: 5px;
      font-size: 0.9em;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -10px;
      width: 20px;
      height: 20px;
      background: linear-gradient(225deg, #fff 0%, #fff 50%, transparent 50%, transparent);
    }
  }
}

i {
  &.seen {
    color: #53bdeb;
  }
  &.ml-neg {
    margin-left: -7px;
  }
}

.emojis-panel {
  position: absolute;
  left: 350px;
  bottom: 50px;
}
