<div class="input-container gray-bg d-flex align-items-center gap-2 p-2">
  <i class="fas fa-paperclip cursor-pointer" (click)="inputFile.click()"></i>
  <input
    #inputFile
    type="file"
    [hidden]="true"
    accept=".jpg, .jpeg,.png,.svg,.mp4,.mov,.mp3"
    (change)="onUploadMedia($event.target)"
  />
  <i class="fa-regular fa-face-smile cursor-pointer" (click)="showEmojis = !showEmojis"></i>
  @if (showEmojis) {
    <emoji-mart
      [darkMode]="false"
      class="emojis-panel"
      (emojiSelect)="onSelectEmojis($event)"
    ></emoji-mart>
  }
  <input
    type="text"
    class="form-control-sm w-100"
    placeholder="Type a message"
    [(ngModel)]="messageContent"
    (keydown)="keyDown($event)"
  />
  @if (messageContent) {
    <i class="fa-solid fa-paper-plane cursor-pointer" (click)="onSendMessage()"></i>
  } @else {
    <i class="fa-solid fa-microphone cursor-pointer"></i>
  }
</div>
